configuration {
display-drun: "Apps";
modi: "combi";
display-run: "run";
display-combi: "Search";
font: "JetBrainsMono NF Bold 12";
combi-modi: "drun,ssh,run";
show-icons: true;
terminal: "kitty";
}

/*@theme "gruvbox-dark" */
@theme "~/.config/rofi/themes/tokyo-night.rasi"

entry {
    placeholder: "What do you want to do?";
}


