window {
  margin: 0px;
  border-radius: 10px;
  border: 1px solid #bd93f9;
  background-color: #7aa2f7;
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  background-color: #283457;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #1a1b26;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #1a1b26;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
}

#entry.activatable #text {
  color: #ffffff;
}

#entry > * {
  color: #f8f8f2;
}

#entry:selected {
  background-color: #44475a;
}

#entry:selected #text {
  font-weight: bold;
}
